

.payment-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    
}

.payment-title {
    color: #6d6d6d;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}

.payment-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

.payment-message {
    color: green;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

.myPaymentForm{
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    min-height: 500px;
    min-width: 500px;
    max-height: 500px;
    max-width: 500px;
    border-radius: 10px;
    
}
.kr-embedded{
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    min-height: 500px;
    min-width: 500px;
    max-height: 500px;
    max-width: 500px;
    border-radius: 10px;
    
}

/* Button */
.kr-embedded .kr-payment-button {
    color: #ffffff !important;
    background-color: #f5821f !important;
    border-radius: 4px !important;
    height:55px !important;
    margin-bottom: 0px !important;
    border-color: #f5821f !important;
}
.bg-form {
    border-radius: 5px;
    background: #ffffff;
    padding: 5%;
    margin-top: 2%;
    box-shadow: 0 13px 17px #bbc3d666;
  }


