.payment-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.payment-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.payment-inner-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.payment-message {
    color: green;
    font-weight: 400;
    margin-top: 20px;
}
