.parallax-container {
    position: relative;
    overflow: hidden;
    height: 400px; /* Ajusta la altura según tus necesidades */
  }
  
  .parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fija la imagen de fondo */
  }
  