.checkout-menu {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: calc(100% - 68px); 
    top: 68px;
    right: 0;
    position: fixed;
    background-color: #f5f5f5;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    right: 0;
    transition: right 0.3s ease-in-out;
}

