.sideBar{
    background-color: darkgrey;
    color: black;
    height: 100vh;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    overflow-x: hidden;
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}
